<!DOCTYPE html>
<html>
<head>
  <title>Student Search</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Type the ID of the student.</h1>
  <form action="/search/" method="GET">
    <input type="text" name="id" placeholder="ID">
    <button type="submit">Search</button>
  </form>
</body>
</html>